<?xml version="1.0"?>
<configuration>

  <system.web>
    <httpHandlers>
			<!--
				This section is used only when run locally from Visual Studio.
				A local web application does not use settings in section <handlers> that's below.
			-->
			<add verb="*" path="data/*/*" type="TestServer.SimpleHandler, TestServer" />
    </httpHandlers>
    <compilation debug="true"/>
  </system.web>

	<system.webServer>
		<!-- In case you want detailed debug information when hosting on a server -->
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<!--
				This section is used only by IIS, when hosted on a server;
				IIS does not use settings in section <httpHandlers> that's above.
			-->
			<remove name="TestServer" />
			<add name="TestServer" verb="*" path="data/*/*" type="TestServer.SimpleHandler, TestServer" />
		</handlers>
	</system.webServer>
</configuration>
